.calculator {
  margin-left: auto;
  margin-right: auto;
}

.input span {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.input input {
  padding: 5px;
}

.button {
  display: inline-block;
}
