<div class="calculator">
  <div class="input">
    <span>
      Numero 1
      <p for><input type="number" [(ngModel)]="primoVal"></p>
    </span>
    <span>
      Numero 2
      <p for><input type="number" [(ngModel)]="secondoVal"></p>
    </span>
  </div>
  <hr>
  <app-button class="button"
              *ngFor="let operator of operators"
              [operator]="operator"
              (buttonClickEvent)=onButtonClicked($event)>
    {{ operator }}
  </app-button>

  <span *ngIf="primoVal !== undefined && secondoVal !== undefined"
        [ngSwitch]="selectedOperator">
    <p *ngSwitchCase="'sum'">Risultato di {{ primoVal}} + {{ secondoVal }} = {{ primoVal + secondoVal}}</p>
    <p *ngSwitchCase="'dif'">Risultato di {{ primoVal}} - {{ secondoVal }} = {{ primoVal - secondoVal}}</p>
    <p *ngSwitchCase="'pow'">Risultato di {{ primoVal}} * {{ secondoVal }} = {{ primoVal * secondoVal}}</p>
    <p *ngSwitchCase="'div'">Risultato di {{ primoVal}} / {{ secondoVal }} = {{ primoVal / secondoVal}}</p>
  </span>
</div>
